<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
<meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
<meta name="apple-mobile-web-app-status-bar-style" content="#0000ff"/>
<meta name="msapplication-navbutton-color" content="#0000ff"/>
<meta name="theme-color" content="#0000ff"/>

<title>{{ page.title }} - {{ page.frequencia }}</title>
<meta name="description" content="{{ page.description }}" />

<!-- sample fb meta -->
<meta property="og:title" content="{{ page.title }} - {{ page.frequencia }}" />
<meta property="og:type" content="website" />{% if page.url %}
<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}/{{ page.url | replace:'index.html','' }}" />  {% endif %}
<meta property="og:image" content="{{ page.image }}" />
<meta property="og:description" content="{{ page.description }}" />

<!-- sample twitter meta -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@geanramos" />
<meta name="twitter:creator" content="@geanramos" />
<meta name="twitter:title" content="{{ page.title }} - {{ page.frequencia }}" />
<meta name="twitter:description" content="{{ page.description }}" />
<meta name="twitter:image" content="{{ page.image }}" />
<link rel="manifest" href="{{ site.url }}{{ site.baseurl }}/pwa-manifest.json">
  
<!-- FAVICON -->
<link rel="icon" href="{{ site.url }}{{ site.baseurl }}/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="{{ site.url }}{{ site.baseurl }}/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="https://fonts.gstatic.com/s/e/notoemoji/16.0/1f4fb/32.png" />
<!-- Para dispositivos Apple -->
<link rel="apple-touch-icon-precomposed" sizes="192x192" href="https://i1.wp.com/fonts.gstatic.com/s/e/notoemoji/16.0/1f4fb/32.png?resize=192,192">
<link rel="apple-touch-icon-precomposed" sizes="180x180" href="https://i1.wp.com/fonts.gstatic.com/s/e/notoemoji/16.0/1f4fb/32.png?resize=180,180">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://i1.wp.com/fonts.gstatic.com/s/e/notoemoji/16.0/1f4fb/32.png?resize=144,144" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://i1.wp.com/fonts.gstatic.com/s/e/notoemoji/16.0/1f4fb/32.png?resize=114,114" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://i1.wp.com/fonts.gstatic.com/s/e/notoemoji/16.0/1f4fb/32.png?resize=72,72" />
<link rel="apple-touch-icon-precomposed" sizes="32x32" href="https://fonts.gstatic.com/s/e/notoemoji/16.0/1f4fb/32.png" />
<link rel="apple-touch-icon" sizes="512x512" href="{{ site.url }}{{ site.baseurl }}/img/screenshot.png?resize=512,512">
<!-- Para dispositivos Android -->
<link rel="icon" type="image/png" sizes="192x192" href="https://i1.wp.com/fonts.gstatic.com/s/e/notoemoji/16.0/1f4fb/32.png?192x192.png">
<link rel="icon" type="image/png" sizes="512x512" href="https://i1.wp.com/fonts.gstatic.com/s/e/notoemoji/16.0/1f4fb/32.png?resize=512,512">

<!-- CSS  -->
<link href="./assets/style-liberal.css?v=26" type="text/css" rel="stylesheet" media="screen,projection" />
<link rel="stylesheet" href="./assets/rrssb.css" />
<style>.bg { background: url({{ page.image }}) center; background-size: cover; position: absolute; width: 100%; height: 100%; z-index: 1; -webkit-filter: blur(1px); filter: blur(1px)}</style>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag() {
dataLayer.push(arguments);
}
gtag("js", new Date());
gtag("config", "G-TZBPFV014K");
</script>
</head>
