<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}assets/classie.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}assets/rrssb.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}assets/modalEffects.js"></script>
<script>
// this is important for IEs
var polyfilter_scriptpath = "/js/";
</script>

<script type="text/javascript">
var source = "{{ page.source }}"
var audio = document.createElement("audio");
audio.src = source;
audio.onplaying = function () {
$(".dotted").show();
$("#pauseBtn").show();
$(".loading").hide();
$(".load-hora").hide();
};
$("#playBtn").click(function () {
audio.play();
$("#playBtn").hide();
$(".loading").show();
});
$("#pauseBtn").click(function () {
audio.load();
$("#pauseBtn").hide();
$("#playBtn").show();
$(".dotted").hide();
});
$(".btn-refresh").click(function () {
location.reload();
});

function getOuvintes() {
$.getJSON("https://diariofm.dol.com.br/aovivo/brascast.php", function (data) {
// Obtém o número de ouvintes conectados diretamente
var ouvintes_conectados = data.ouvintes_conectados;
var ouvintes_conectados = ouvintes_conectados * {{ page.ouvintes }};
console.log("ouvintes_conectados", ouvintes_conectados);
// Verifica se há ouvintes conectados e atualiza o DOM
if (ouvintes_conectados > 0) {
$(".info-ouvintes span").html(ouvintes_conectados + " OUVINTES");
} else {
$(".info-ouvintes span").html("TENTANDO CARREGAR OUVINTES...");
}
// Configura a chamada para repetir após 20 segundos
setTimeout(getOuvintes, 20000);
}).fail(function () {
// Caso ocorra um erro na requisição
$(".info-ouvintes span").html("TENTANDO CARREGAR OUVINTES...");
setTimeout(getOuvintes, 20000);
});
}
$(document).ready(function () {
getOuvintes();
});
</script>
