---
---
<!DOCTYPE html>
<html lang="pt-BR">
{% include head.html %}
<body>
{% include menu.html %}
<section data-bs-version="5.1" class="gallery3 cid-v9BTdv6VQO" id="gallery3-u">
    <div class="container-fluid">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Full-Width Gallery</strong>
            </h4>
            <h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-5">Images with Title and Text</h5>
        </div>
        <div class="row mt-4">
		<!-- xxxxxxxxxxxxxx -->
		{% for post in site.posts limit : 16 %}
            <div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        <a href="{{ post.url }}"><img src="{{ post.img }}" alt="{{ post.title }}"></a>
                    </div>
                    <div class="item-content">
                        <p class="mbr-text mbr-fonts-style mt-3 display-4">{{ post.title }} <a href="{{ post.url }}" class="text-primary">Leia mais...</a></p>
                    </div>                    
                </div>
            </div>
		{% endfor %}
		<!-- xxxxxxxxxxxxxx -->
        </div>
    </div>
</section>
<!--form-->
{% include form.html %}
<!--footer-->
{% include footer.html %}
<!--script-->
{% include script.html %} 
</body>
</html>