---
title: "Rádio OX – Todos os Canais de Música do Grupo OX"
date: 2026-02-26 007:00:00 -03:00
description: "Ouça todos os canais da Rádio OX: rock, gospel, sertanejo, tropical, lo-fi, 80s, pagode e muito mais. Música 24h."
tags: [Rádio]
img: "https://www.souox.com/img/social-rdio.jpg"
---
<!--
><(((('>
╔═╗╔═╗╔═╗╔╗╔ ╔╦╗╔═╗
║ ╦║╣ ╠═╣║║║ ║║║║╣ 
╚═╝╚═╝╩ ╩╝╚╝o╩ ╩╚═╝
--><!DOCTYPE html>
<html lang="pt-BR">
{% include head-radio.html %}
<body>
{% include menu.html %}
<section data-bs-version="5.1" class="gallery3 cid-vcgCWKaWQg" id="gallery3-1v">
    
    
    <div class="container-fluid">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Rádio OX</strong></h4>
            <h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-5">Canais</h5>
        </div>
        <div class="row mt-4">
            <div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        <a href="https://souox.com/radio-ox.html"><img src="https://i1.wp.com/souox.com/rdio/ads/img/radioox.png" alt="Rádio OX" data-slide-to="0" data-bs-slide-to="0"></a>
                    </div>
                    
                    
                </div>
            </div><div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        <a href="https://souox.com/80s.html"><img src="https://i1.wp.com/souox.com/rdio/ads/img/80s.png" alt="Canal Anos 80" data-slide-to="1" data-bs-slide-to="1"></a>
                    </div>
                    
                    
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        <a href="https://souox.com/pagode.html"><img src="https://i1.wp.com/souox.com/rdio/ads/img/pagode.png" alt="Canal Pagode" data-slide-to="2" data-bs-slide-to="2"></a>
                    </div>
                    
                    
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        <a href="https://souox.com/gospel.html"><img src="https://i1.wp.com/souox.com/rdio/ads/img/gospel.png" alt="Canal Gospel" data-slide-to="3" data-bs-slide-to="3"></a>
                    </div>
                    
                    
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        <a href="https://souox.com/kpop.html"><img src="https://i1.wp.com/souox.com/rdio/ads/img/kpop.png" alt="Canal K-pop" title="" data-slide-to="4" data-bs-slide-to="4"></a>
                    </div>
                    
                    
                </div>
            </div><div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        <a href="https://souox.com/lofi.html"><img src="https://i1.wp.com/souox.com/rdio/ads/img/lofi.png" alt="Canal LO-FI" title="" data-slide-to="5" data-bs-slide-to="5"></a>
                    </div>
                    
                    
                </div>
            </div><div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        <a href="https://souox.com/lounge.html"><img src="https://i1.wp.com/souox.com/rdio/ads/img/lounge.png" alt="Canal Lounge" title="" data-slide-to="6" data-bs-slide-to="6"></a>
                    </div>
                    
                    
                </div>
            </div><div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        <a href="https://souox.com/modasertaneja.html"><img src="https://i1.wp.com/souox.com/rdio/ads/img/modasertaneja.png" alt="Canal Moda Sertaneja" title="" data-slide-to="7" data-bs-slide-to="7"></a>
                    </div>
                    
                    
                </div>
            </div><div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        <a href="https://souox.com/rock.html"><img src="https://i1.wp.com/souox.com/rdio/ads/img/rock.png" alt="Canal Rock" title="" data-slide-to="8" data-bs-slide-to="8"></a>
                    </div>
                    
                    
                </div>
            </div><div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        <a href="https://souox.com/tropical.html"><img src="https://i1.wp.com/souox.com/rdio/ads/img/tropical.png" alt="Canal Tropical" title="" data-slide-to="9" data-bs-slide-to="9"></a>
                    </div>
                    
                    
                </div>
            </div><div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        <a href="https://souox.com/sertanejo.html"><img src="https://i1.wp.com/souox.com/rdio/ads/img/sertanejo.png" alt="Canal Sertanejo" title="" data-slide-to="10" data-bs-slide-to="10"></a>
                    </div>
                    
                    
                </div>
            </div><div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        <a href="https://souox.com/pisadinha.html"><img src="https://i1.wp.com/souox.com/rdio/ads/img/pisadinha.png" alt="Canal Pisadinha" data-slide-to="11" data-bs-slide-to="11"></a>
                    </div>
                    
                    
                </div>
            </div><div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        <a href="https://souox.com/tecnobrega.html"><img src="https://i1.wp.com/souox.com/rdio/ads/img/tecnobrega.png?v=1" alt="Canal Tecno Brega" data-slide-to="12" data-bs-slide-to="12"></a>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
</section>
{% include form-footer.html %}
{% include footer.html %}
{% include script.html %}
</body>
</html>
