---
title: "Rádio OX"
---
<!--
><(((('>
╔═╗╔═╗╔═╗╔╗╔ ╔╦╗╔═╗
║ ╦║╣ ╠═╣║║║ ║║║║╣ 
╚═╝╚═╝╩ ╩╝╚╝o╩ ╩╚═╝
--><!DOCTYPE html>
<html lang="pt-BR">
{% include head.html %}
<body>
{% include menu.html %}
    <div class="container-fluid">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Rádio OX</strong></h4>
            <h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-5">Canais</h5>
        </div>
        <div class="row mt-4">
            <div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        <a href="https://souox.com/radio-ox.html"><img src="https://i1.wp.com/gean.me/radio/ads/img/radioox-598x150.png" alt="Rádio OX" data-slide-to="0" data-bs-slide-to="0"></a>
                    </div>
                    
                    
                </div>
            </div><div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        <a href="https://souox.com/80s.html"><img src="https://i1.wp.com/gean.me/radio/ads/img/80s-598x150.png" alt="Canal Anos 80" data-slide-to="1" data-bs-slide-to="1"></a>
                    </div>
                    
                    
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        <a href="https://souox.com/pagode.html"><img src="https://i1.wp.com/gean.me/radio/ads/img/banner-cnal-radio-598x150.png" alt="Canal Pagode" data-slide-to="2" data-bs-slide-to="2"></a>
                    </div>
                    
                    
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        <a href="https://souox.com/gospel.html"><img src="https://i1.wp.com/gean.me/radio/ads/img/gospel-598x150.png" alt="Canal Gospel" data-slide-to="3" data-bs-slide-to="3"></a>
                    </div>
                    
                    
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        <a href="https://souox.com/kpop.html"><img src="https://i1.wp.com/gean.me/radio/ads/img/kpop-598x150.png" alt="Canal K-pop" title="" data-slide-to="4" data-bs-slide-to="4"></a>
                    </div>
                    
                    
                </div>
            </div><div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        <a href="https://souox.com/lofi.html"><img src="https://i1.wp.com/gean.me/radio/ads/img/lofi.png" alt="Canal LO-FI" title="" data-slide-to="5" data-bs-slide-to="5"></a>
                    </div>
                    
                    
                </div>
            </div><div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        <a href="https://souox.com/lounge.html"><img src="https://i1.wp.com/gean.me/radio/ads/img/lounge.png" alt="Canal Lounge" title="" data-slide-to="6" data-bs-slide-to="6"></a>
                    </div>
                    
                    
                </div>
            </div><div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        <a href="https://souox.com/modasertaneja.html"><img src="https://i1.wp.com/gean.me/radio/ads/img/modasertaneja.png" alt="Canal Moda Sertaneja" title="" data-slide-to="7" data-bs-slide-to="7"></a>
                    </div>
                    
                    
                </div>
            </div><div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        <a href="https://souox.com/rock.html"><img src="https://i1.wp.com/gean.me/radio/ads/img/rock.png" alt="Canal Rock" title="" data-slide-to="8" data-bs-slide-to="8"></a>
                    </div>
                    
                    
                </div>
            </div><div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        <a href="https://souox.com/tropical.html"><img src="https://i1.wp.com/gean.me/radio/ads/img/tropical.png" alt="Canal Tropical" title="" data-slide-to="9" data-bs-slide-to="9"></a>
                    </div>
                    
                    
                </div>
            </div><div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        <a href="https://souox.com/sertanejo.html"><img src="https://i1.wp.com/gean.me/radio/ads/img/sertanejo.png" alt="Canal Sertanejo" title="" data-slide-to="10" data-bs-slide-to="10"></a>
                    </div>
                    
                    
                </div>
            </div><div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        <a href="https://souox.com/pisadinha.html"><img src="https://i1.wp.com/gean.me/radio/ads/img/pisadinha.png" alt="Canal Pisadinha" title="" data-slide-to="11" data-bs-slide-to="11"></a>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
</section>
{% include form-footer.html %}
{% include footer.html %}
{% include script.html %}
</body>
</html>
