<section data-bs-version="5.1" class="form2 cid-v4fSfZvODu mbr-parallax-background" id="form2-8">
    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(187, 187, 187);"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 mx-auto mbr-form">
                <form action="ses.souox.com" method="POST" class="mbr-form form-with-styler" data-verified="ses.souox.com">
                    <div class="row">
                        
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                            Oops...! some problem!
                        </div>
                    </div>
                    <div class="dragArea row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h1 class="mbr-section-title mb-4 align-center mbr-fonts-style display-2"><strong>Fique por dentro!</strong></h1>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <p class="mbr-text mbr-fonts-style mb-5 align-center display-7">Digite seu e-mail abaixo para receber as últimas notícias e promoções do <strong>Grupo OX</strong> diretamente na sua caixa de entrada.</p>
                        </div>
                        <div class="col-lg col-md col-12 form-group mb-3" data-for="email">
                            <input type="text" name="name" placeholder="Nome" data-form-field="name" class="form-control" id="name-form2-8">
                        </div>
                        <div class="col-lg col-md col-12 form-group mb-3" data-for="email">
                            <input type="email" name="email" placeholder="Digite seu melhor Email..." data-form-field="email" class="form-control" id="email-form2-8">
                        </div>
                        <div class="mbr-section-btn col-md-auto col"><button type="submit" class="btn btn-success display-4"><span class="mobi-mbri mobi-mbri-cursor-click mbr-iconfont mbr-iconfont-btn"></span>Inscreva-me</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>