<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
<!--seo-->
{% include seo.html %}
<link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css?v=jbvjlknvkdlnvie">
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css?v=jbvjlknvkdlnvie">
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css?v=jbvjlknvkdlnvie">
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css?v=jbvjlknvkdlnvie">
<link rel="stylesheet" href="assets/parallax/jarallax.css?v=jbvjlknvkdlnvie">
<link rel="stylesheet" href="assets/dropdown/css/style.css?v=jbvjlknvkdlnvie">
<link rel="stylesheet" href="assets/socicon/css/styles.css?v=jbvjlknvkdlnvie">
<link rel="stylesheet" href="assets/theme/css/style.css?v=jbvjlknvkdlnvie">
<link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css?v=jbvjlknvkdlnvie" type="text/css">

<link rel="preconnect" href="https://cdn.jsdelivr.net">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<style>iframe,img{border-radius:6px}.image-wrap,.item-img{position:relative;width:100%;aspect-ratio:16/8;overflow:hidden}.image-wrap img,.item-img img{width:100%;height:100%;object-fit:cover;display:block}</style>
{% include analytics.html %}
</head>
