  <section data-bs-version="5.1" class="menu menu2 cid-v9JxR6o3qO" once="menu" id="menu2-v">    
    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="container">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="{{ site.url }}">
                        <img src="https://i1.wp.com/www.souox.com/assets/images/logoox.png" alt="GRUPO OX" style="height: 3rem;">
                    </a>
                </span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                    <li class="nav-item"><a class="nav-link link text-white text-primary display-4" href="{{ site.url }}#image2-9">Sobre</a></li>
                    <li class="nav-item"><a class="nav-link link text-white text-primary display-4" href="{{ site.url }}#marcas">Marcas</a></li>
					<li class="nav-item"><a class="nav-link link text-white text-primary display-4" href="{{ site.url }}#produtos">Produtos</a></li>
                    <li class="nav-item"><a class="nav-link link text-white text-primary display-4" href="#contato">Contato</a></li>
					<li class="nav-item"><a class="nav-link link text-white text-primary display-4" href="{{ site.url }}/blog.html">Blog</a></li></ul>
                <div class="navbar-buttons mbr-section-btn">
				<a class="btn btn-primary display-4" href="https://souox.com/vagas" target="_blank"><span class="mobi-mbri mobi-mbri-cursor-click mbr-iconfont mbr-iconfont-btn"></span>Trabalhe conosco</a>
				</div>
            </div>
        </div>
    </nav>
</section>