<script src="https://cdn.jsdelivr.net/gh/grupoox/grupoox.github.io@main/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/grupoox/grupoox.github.io@main/assets/parallax/jarallax.js"></script>
<script src="https://cdn.jsdelivr.net/gh/grupoox/grupoox.github.io@main/assets/smoothscroll/smooth-scroll.js"></script>
<script src="https://cdn.jsdelivr.net/gh/grupoox/grupoox.github.io@main/assets/ytplayer/index.js"></script>
<script src="https://cdn.jsdelivr.net/gh/grupoox/grupoox.github.io@main/assets/dropdown/js/navbar-dropdown.js"></script>
<script src="https://cdn.jsdelivr.net/gh/grupoox/grupoox.github.io@main/assets/theme/js/script.js"></script>  