<title> {% if page.title %} {{ page.title }} {% else %} {{ site.title }} {% endif %} </title>
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="keywords" content="GRUPO OX, arla 32, o que é arla 32, para que serve o arla 32, como funciona o arla 32, arla 32 preço, arla 32 caminhões diesel, arla 32 iso 22241, fornecedor de arla 32">
<meta name="image" content="{% if page.img %}{{ page.img }}{% else %}{{ site.img }}{% endif %}">
<meta name="author" content="GRUPO OX">
<link rel="alternate" type="application/rss+xml" title="GRUPO OX - RSS" href="https://www.souox.com/rss.xml" />
<link rel="alternate" type="application/rss+xml" title="GRUPO OX - Feed" href="https://www.souox.com/feed.xml" />
<link rel="alternate" type="application/rss+xml" title="GRUPO OX - FeedBurner" href="https://feeds.feedburner.com/souox" />

<!-- Meta básica -->
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
<meta name="thumbnail" content="{% if page.img %}{{ page.img }}{% else %}{{ site.img }}{% endif %}">

<!-- Canonical -->
<link rel="canonical" href="https://www.souox.com{{ page.url }}">

<!-- Open Graph / Facebook -->
<meta property="og:site_name" content="Grupo OX">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:type" content="{% if page.title %}article{% else %}website{% endif %}">
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:url" content="https://www.souox.com{{ page.url }}">
<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
<meta property="og:image" content="{% if page.img %}{{ page.img }}{% else %}{{ site.img }}{% endif %}">
<meta property="article:published_time" content="2018-06-17T05:59:00-03:00" />

<meta property="article:section" content="industria" />
<meta property="article:section" content="automotivo" />
<meta property="article:section" content="diesel" />

<meta property="article:tag" content="arla 32" />
<meta property="article:tag" content="o que é arla 32" />
<meta property="article:tag" content="para que serve o arla 32" />
<meta property="article:tag" content="como funciona o arla 32" />
<meta property="article:tag" content="arla 32 preço" />
<meta property="article:tag" content="arla 32 para caminhões diesel" />
<meta property="article:tag" content="problemas por falta de arla 32" />
<meta property="article:tag" content="arla 32 danifica o motor" />
<meta property="article:tag" content="consumo de arla 32 por km" />
<meta property="article:tag" content="diferença entre arla 32 e ureia comum" />
<meta property="article:tag" content="arla 32 iso 22241" />
<meta property="article:tag" content="arla 32 especificação iso 22241" />
<meta property="article:tag" content="arla 32 inmetro" />
<meta property="article:tag" content="industria de arla 32" />
<meta property="article:tag" content="fornecedor de arla 32" />
<meta property="article:tag" content="GRUPO OX" />


<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@geanramos">
<meta name="twitter:creator" content="@geanramos">
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:creator" content="@geanramos" />
<meta name="twitter:domain" content="souox.com" />
<meta name="twitter:url" content="https://www.souox.com{{ page.url }}">
<meta name="twitter:image:src" content="{% if page.img %}{{ page.img }}{% else %}{{ site.img }}{% endif %}">
<meta name="twitter:image:alt" content="{{ site.title }}">

<!-- Ícones e temas -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://www.souox.com/favicon.png?resize=144,144">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://www.souox.com/favicon.png?resize=114,114">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://www.souox.com/favicon.png?resize=72,72">
<link rel="apple-touch-icon-precomposed" href="https://www.souox.com/favicon.png">
<link rel="shortcut icon" href="https://www.souox.com/favicon.png">


<meta name="theme-color" content="#fc7a7f">
<meta name="msapplication-navbutton-color" content="#fc7a7f">
<meta name="apple-mobile-web-app-status-bar-style" content="#fc7a7f">

<script async src="https://www.googletagmanager.com/gtag/js?id=G-TZBPFV014K"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'G-RQFXCKC84R', {
'linker': {
      'domains': ['www.souox.com']
    },
    'page_path': "/?url=" + document.location.pathname + document.location.search + "&ref=" + document.referrer
});
</script>

<script>
    (function(w,d,t,u,n,a,m){w['MauticTrackingObject']=n;
w[n]=w[n]||function(){(w[n].q=w[n].q||[]).push(arguments)},a=d.createElement(t),
m=d.getElementsByTagName(t)[0];a.async=1;a.src=u;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://app.ox.ind.br/mtc.js','mt');
    mt('send', 'pageview');
</script>

<!--<script type="text/javascript">
if (typeof MauticSDKLoaded == 'undefined') {
    var MauticSDKLoaded = true;
    var head = document.getElementsByTagName('head')[0];
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = 'https://app.ox.ind.br/media/js/mautic-form.js?vb11125f2';
    script.onload = function() {
        MauticSDK.onLoad();
    };
    head.appendChild(script);
    var MauticDomain = 'https://app.ox.ind.br';
    var MauticLang   = {
        'submittingMessage': "Por favor, aguarde..."
    }
} else if (typeof MauticSDK != 'undefined') {
    MauticSDK.onLoad();
}
</script>-->