<!--o que é arla 32, para que serve o arla 32, como funciona o arla 32, arla 32 preço, arla 32 para caminhões diesel, problemas por falta de arla 32, arla 32 danifica o motor, consumo de arla 32 por km, diferença entre arla 32 e ureia comum, arla 32 especificação iso 22241-->
<script>
    (function(w,d,t,u,n,a,m){w['MauticTrackingObject']=n;
        w[n]=w[n]||function(){(w[n].q=w[n].q||[]).push(arguments)},a=d.createElement(t),
        m=d.getElementsByTagName(t)[0];a.async=1;a.src=u;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://app.ox.ind.br/mtc.js','mt');
    mt('send', 'pageview');
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RQFXCKC84R"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-RQFXCKC84R', {
    send_page_view: true
  });
</script>