<!DOCTYPE html>
<html lang="pt-BR">
{% include head.html %}
<body>
{% include menu.html %}
{% include form.html %}
<section data-bs-version="5.1" class="image2 cid-v4g2chi45c" id="image2-9">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6">
                <div class="image-wrapper">
                    <img src="assets/images/imagem-do-whatsapp-de-2025-11-17-s-16.16.53-b269961d.jpeg" alt="Mobirise Website Builder">
                    <p class="mbr-description mbr-fonts-style mt-2 align-center display-4">
                        Grupo OX | souox.com</p>
                </div>
            </div>
            <div class="col-12 col-lg">
                <div class="text-wrapper">
                    <h3 class="mbr-section-title mbr-fonts-style mb-3 display-2">
                        <strong>Sobre</strong></h3>
                    <p class="mbr-text mbr-fonts-style display-7">O <strong>Grupo OX</strong>, Nasceu com a missão de desenvolver soluções que impulsionam o mercado e respeitam o meio ambiente. Para nós, qualidade é inegociável, e a sustentabilidade é o único caminho para o futuro.
<br>
<br>Nosso compromisso se reflete em cada etapa da produção, na segurança dos nossos colaboradores e na satisfação total dos nossos clientes e parceiros comerciais.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features3 cid-v4fPsTsJAS" id="marcas">
    
    
    <div class="container">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>Nossas marcas</strong></h4>
            <h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-7">Marcas que movem o Grupo OX, unidas pela inovação, qualidade e compromisso em entregar soluções que impulsionam negócios e geram confiança. Produtos com padrão de excelência já reconhecido pelo mercado, incluindo a fabricação de Arla 32 para grandes operações como <strong><em>Petrobras e postos das bandeiras Ipiranga e Shell.</em></strong></h5>
        </div>
        <div class="row mt-4">
            <div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        <a href="https://www.instagram.com/ox.embalagens?utm_source=souox.com" target="_blank"><img src="assets/images/ox-embalagens-596x335.png" alt="OX Embalagens" data-slide-to="0" data-bs-slide-to="0"></a>
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-7"><strong>OX Embalagens</strong></h5>
                        
                        <p class="mbr-text mbr-fonts-style mt-3 display-4">Responsável pelo desenvolvimento e fornecimento de embalagens plásticas para os produtos do <strong><em>Grupo OX e parceiros</em></strong>, a unidade oferece soluções resistentes e seguras, com foco em qualidade, padronização e eficiência logística.</p>
                    </div>
                    
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/ox-auto-1-596x335.png" alt="OX Auto" data-slide-to="1" data-bs-slide-to="1">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-7"><strong>OX Auto</strong></h5>
                        
                        <p class="mbr-text mbr-fonts-style mt-3 display-4">A <strong>OX Auto</strong> é a linha de produtos automotivos do Grupo OX, responsável por aditivos, fluidos e soluções que melhoram o desempenho, protegem o motor e garantem eficiência, segurança e confiabilidade para veículos leves e pesados.</p>
                    </div>
                    
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/ox-clean-800x450.png" alt="OX Clean" data-slide-to="2" data-bs-slide-to="2">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-7"><strong>OX Clean</strong></h5>
                        
                        <p class="mbr-text mbr-fonts-style mt-3 display-4">A <strong>OX Clean</strong> atua na linha de produtos de limpeza, oferecendo detergentes e soluções de alta performance para uso doméstico e profissional, com foco em eficiência, rendimento, fragrâncias agradáveis e excelente custo-benefício.<br></p>
                    </div>
                    
                </div>
            </div><div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        <a href="https://souox.com/ox-ureia/"><img src="assets/images/ox-import-800x450.png" alt="OX Imports" data-slide-to="5" data-bs-slide-to="5"></a>
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-7"><strong>OX Imports</strong></h5>                        
                        <p class="mbr-text mbr-fonts-style mt-3 display-4">A <strong>OX Imports</strong> é a divisão do Grupo OX voltada à importação e distribuição de produtos e insumos, garantindo acesso a soluções estratégicas, qualidade controlada e abastecimento eficiente para atender às demandas do mercado.<br></p>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features11 cid-v4fR1BZ0Xs" id="produtos">
    <div class="container">
        <div class="title">
            <h3 class="mbr-section-title mbr-fonts-style mb-4 display-2">
                <strong>Nosso Produtos</strong></h3>
            <h4 class="mbr-section-subtitle mbr-fonts-style mb-3 display-4">Não importa o desafio – no carro, em casa ou na indústria – nós elevamos o padrão. <br>Nossas fórmulas são desenvolvidas para entregar máxima eficiência e confiança, <br>oferecendo exatamente o que você precisa para obter os melhores resultados.</h4>
        </div>
        <div class="item features-image">
            <div class="item-wrapper">
                <div class="row align-items-center">
                    <div class="col-12 col-md-2">
                        <div class="image-wrapper">
                            <img src="assets/images/agua-demineralizada-5l.jpg" alt="Arla OX 32 BB 5L" title="" data-slide-to="0" data-bs-slide-to="0">
                        </div>
                    </div>
                    <div class="col-12 col-md">
                        <div class="card-box">
                            <div class="row">
                                <div class="col-12">
                                    <div class="top-line">
                                        <h4 class="card-title mbr-fonts-style display-5"><strong>Arla OX 32 BB 5L</strong></h4>
                                        <p class="cost mbr-fonts-style display-5"><a href="index.html#form1-2" class="text-primary">Saiba mais!</a></p>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="bottom-line">
                                        <p class="mbr-text mbr-fonts-style m-0 display-7"><strong>
                                            Arla OX 32 – BB 5L</strong> é ideal para <strong><em>caminhonetes e SUVs</em></strong> a diesel, oferecendo praticidade no transporte e no abastecimento. Qualidade certificada Inmetro e ISO, alta pureza e eficiência na redução de emissões, garantindo proteção ao sistema SCR.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item features-image">
            <div class="item-wrapper">
                <div class="row align-items-center">
                    <div class="col-12 col-md-2">
                        <div class="image-wrapper">
                            <img src="assets/images/arla3220l.png" alt="Arla OX 32 BB 20L" title="" data-slide-to="1" data-bs-slide-to="1">
                        </div>
                    </div>
                    <div class="col-12 col-md">
                        <div class="card-box">
                            <div class="row">
                                <div class="col-12">
                                    <div class="top-line">
                                        <h4 class="card-title mbr-fonts-style display-5"><strong>Arla OX 32 BB 20L</strong></h4>
                                        <p class="cost mbr-fonts-style display-5"><a href="index.html#form1-2" class="text-primary">Saiba mais!</a></p>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="bottom-line">
                                        <p class="mbr-text mbr-fonts-style m-0 display-7"><strong>
                                            Arla OX 32 – BB 20L </strong>é a solução ideal para levar no caminhão e garantir abastecimento prático durante a viagem. Qualidade certificada Inmetro e ISO, alta pureza e eficiência na redução de emissões. Perfeito para motoristas, frotas e longas rotas.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item features-image mb-4 col-12 col-md-">
            <div class="item-wrapper">
                <div class="row align-items-center">
                    <div class="col-12 col-md-2">
                        <div class="image-wrapper">
                            <img src="assets/images/arla-ox-32.png" alt="Arla OX 32 IBC 1.000L" title="" data-slide-to="2" data-bs-slide-to="2">
                        </div>
                    </div>
                    <div class="col-12 col-md">
                        <div class="card-box">
                            <div class="row">
                                <div class="col-12">
                                    <div class="top-line">
                                        <h4 class="card-title mbr-fonts-style display-5"><strong>Arla OX 32 IBC 1.000L</strong></h4>
                                        <p class="cost mbr-fonts-style display-5"><a href="index.html#form1-2" class="text-primary">Saiba mais!</a></p>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="bottom-line">
                                        <p class="mbr-text mbr-fonts-style m-0 display-7"><strong>
                                            Arla OX 32 – IBC 1.000L </strong>com qualidade certificada Inmetro e ISO garante redução eficiente de emissões em motores diesel SCR. Alta pureza, maior rendimento e fornecimento contínuo. Ideal para transportadoras, frotas e operações de alto consumo.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><div class="item features-image mb-4 col-12 col-md-">
            <div class="item-wrapper">
                <div class="row align-items-center">
                    <div class="col-12 col-md-2">
                        <div class="image-wrapper">
                            <img src="assets/images/radox-pronto-para-uso-1l-376x376.jpg" alt="Radox 1L - pronto para uso" title="" data-slide-to="3" data-bs-slide-to="4">
                        </div>
                    </div>
                    <div class="col-12 col-md">
                        <div class="card-box">
                            <div class="row">
                                <div class="col-12">
                                    <div class="top-line">
                                        <h4 class="card-title mbr-fonts-style display-5"><strong>Radox 1L  - pronto para uso</strong></h4>
                                        <p class="cost mbr-fonts-style display-5"><a href="index.html#form1-2" class="text-primary">Saiba mais!</a></p>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="bottom-line">
                                        <p class="mbr-text mbr-fonts-style m-0 display-7"><strong>
                                            Radox – Aditivo para Radiador Pronto para Uso</strong> oferece proteção imediata contra corrosão, ferrugem e superaquecimento. Fórmula balanceada que dispensa diluição, garantindo praticidade, melhor troca térmica e maior durabilidade do sistema de arrefecimento.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><div class="item features-image mb-4 col-12 col-md-">
            <div class="item-wrapper">
                <div class="row align-items-center">
                    <div class="col-12 col-md-2">
                        <div class="image-wrapper">
                            <img src="assets/images/radox-concentrado-376x376.jpg" alt="Radox 1L - Concentrado" title="" data-slide-to="4" data-bs-slide-to="3">
                        </div>
                    </div>
                    <div class="col-12 col-md">
                        <div class="card-box">
                            <div class="row">
                                <div class="col-12">
                                    <div class="top-line">
                                        <h4 class="card-title mbr-fonts-style display-5"><strong>Radox 1L - Concentrado</strong></h4>
                                        <p class="cost mbr-fonts-style display-5"><a href="index.html#form1-2" class="text-primary">Saiba mais!</a></p>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="bottom-line">
                                        <p class="mbr-text mbr-fonts-style m-0 display-7"><strong>
                                            Radox – Aditivo para Radiador Concentrado</strong> protege o sistema de arrefecimento contra corrosão, superaquecimento e incrustações. Garante melhor troca térmica, prolonga a vida útil do motor e oferece alto rendimento com diluição prática.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><div class="item features-image mb-4 col-12 col-md-">
            <div class="item-wrapper">
                <div class="row align-items-center">
                    <div class="col-12 col-md-2">
                        <div class="image-wrapper">
                            <img src="assets/images/disox-200ml.jpg" alt="Mobirise Website Builder" title="" data-slide-to="5" data-bs-slide-to="5">
                        </div>
                    </div>
                    <div class="col-12 col-md">
                        <div class="card-box">
                            <div class="row">
                                <div class="col-12">
                                    <div class="top-line">
                                        <h4 class="card-title mbr-fonts-style display-5"><strong>Disox 200ml</strong></h4>
                                        <p class="cost mbr-fonts-style display-5"><a href="index.html#form1-2" class="text-primary">Saiba mais!</a></p>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="bottom-line">
                                        <p class="mbr-text mbr-fonts-style m-0 display-7"><strong>
                                            Disox – Aditivo para Diesel</strong> melhora a combustão, ajuda a limpar o sistema de injeção e contribui para o melhor desempenho do motor. Reduz falhas, protege componentes e auxilia na economia de combustível, garantindo mais eficiência e vida útil ao motor diesel.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><div class="item features-image mb-4 col-12 col-md-">
            <div class="item-wrapper">
                <div class="row align-items-center">
                    <div class="col-12 col-md-2">
                        <div class="image-wrapper">
                            <img src="assets/images/gasox-200ml.jpg" alt="Mobirise Website Builder" title="" data-slide-to="6" data-bs-slide-to="6">
                        </div>
                    </div>
                    <div class="col-12 col-md">
                        <div class="card-box">
                            <div class="row">
                                <div class="col-12">
                                    <div class="top-line">
                                        <h4 class="card-title mbr-fonts-style display-5"><strong>Gasox 200ml</strong></h4>
                                        <p class="cost mbr-fonts-style display-5"><a href="index.html#form1-2" class="text-primary">Saiba mais!</a></p>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="bottom-line">
                                        <p class="mbr-text mbr-fonts-style m-0 display-7"><strong>
                                            Gasox – Aditivo para Gasolina</strong> melhora o desempenho do motor, promove combustão mais eficiente e ajuda a manter o sistema de injeção limpo. Reduz falhas, melhora a resposta do veículo e contribui para maior economia e proteção do motor.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><div class="item features-image mb-4 col-12 col-md-">
            <div class="item-wrapper">
                <div class="row align-items-center">
                    <div class="col-12 col-md-2">
                        <div class="image-wrapper">
                            <img src="assets/images/octane-booter-200ml.jpg" alt="Mobirise Website Builder" title="" data-slide-to="7" data-bs-slide-to="7">
                        </div>
                    </div>
                    <div class="col-12 col-md">
                        <div class="card-box">
                            <div class="row">
                                <div class="col-12">
                                    <div class="top-line">
                                        <h4 class="card-title mbr-fonts-style display-5"><strong>Octane Booster 200ml</strong></h4>
                                        <p class="cost mbr-fonts-style display-5"><a href="index.html#form1-2" class="text-primary">Saiba mais!</a></p>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="bottom-line">
                                        <p class="mbr-text mbr-fonts-style m-0 display-7"><strong>
                                            OX Octane Booster</strong> potencializa a octanagem do combustível, melhorando o desempenho do motor e a resposta na aceleração. Auxilia na combustão mais eficiente, reduz falhas e ajuda a limpar o sistema de injeção, garantindo mais performance e proteção ao motor.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><div class="item features-image mb-4 col-12 col-md-">
            <div class="item-wrapper">
                <div class="row align-items-center">
                    <div class="col-12 col-md-2">
                        <div class="image-wrapper">
                            <img src="assets/images/ox-clean-100ml.jpg" alt="Mobirise Website Builder" title="" data-slide-to="8" data-bs-slide-to="8">
                        </div>
                    </div>
                    <div class="col-12 col-md">
                        <div class="card-box">
                            <div class="row">
                                <div class="col-12">
                                    <div class="top-line">
                                        <h4 class="card-title mbr-fonts-style display-5"><strong>OX Clean - Limpa parabrisa 100ml</strong></h4>
                                        <p class="cost mbr-fonts-style display-5"><a href="index.html#form1-2" class="text-primary">Saiba mais!</a></p>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="bottom-line">
                                        <p class="mbr-text mbr-fonts-style m-0 display-7"><strong>
                                            OX Clear – Limpa Para-brisa</strong> garante visibilidade cristalina em qualquer situação. Sua fórmula concentrada remove gordura, poeira e fuligem com facilidade. Uso prático por diluição no reservatório, protegendo as palhetas e elevando o conforto e a segurança na direção.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><div class="item features-image mb-4 col-12 col-md-">
            <div class="item-wrapper">
                <div class="row align-items-center">
                    <div class="col-12 col-md-2">
                        <div class="image-wrapper">
                            <img src="assets/images/260127-ox-clean-5l.png201-376x376.png" alt="Detergente OX Clean 5L" title="" data-slide-to="10" data-bs-slide-to="10">
                        </div>
                    </div>
                    <div class="col-12 col-md">
                        <div class="card-box">
                            <div class="row">
                                <div class="col-12">
                                    <div class="top-line">
                                        <h4 class="card-title mbr-fonts-style display-5"><strong>Detergente OX Clean neutro 5L</strong></h4>
                                        <p class="cost mbr-fonts-style display-5"><a href="index.html#top" class="text-primary">Saiba mais!</a></p>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="bottom-line">
                                        <p class="mbr-text mbr-fonts-style m-0 display-7"><strong>
                                            Detergente OX Clean</strong> possui alto poder de limpeza com fórmula concentrada que remove gordura pesada com facilidade. Rende mais, garante brilho e perfuma o ambiente nas fragrâncias <strong><em>maçã, limão, coco e neutro</em></strong>, sendo ideal para uso doméstico e profissional.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="form2 cid-v4fSfZvODu mbr-parallax-background" id="form2-8">
    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(187, 187, 187);"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 mx-auto mbr-form">
                <form action="ses.souox.com" method="POST" class="mbr-form form-with-styler" data-verified="ses.souox.com">
                    <div class="row">
                        
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                            Oops...! some problem!
                        </div>
                    </div>
                    <div class="dragArea row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h1 class="mbr-section-title mb-4 align-center mbr-fonts-style display-2"><strong>Fique por dentro!</strong></h1>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <p class="mbr-text mbr-fonts-style mb-5 align-center display-7">Digite seu e-mail abaixo para receber as últimas notícias e promoções do <strong>Grupo OX</strong> diretamente na sua caixa de entrada.</p>
                        </div>
                        <div class="col-lg col-md col-12 form-group mb-3" data-for="email">
                            <input type="text" name="name" placeholder="Nome" data-form-field="name" class="form-control" id="name-form2-8">
                        </div>
                        <div class="col-lg col-md col-12 form-group mb-3" data-for="email">
                            <input type="email" name="email" placeholder="Digite seu melhor Email..." data-form-field="email" class="form-control" id="email-form2-8">
                        </div>
                        <div class="mbr-section-btn col-md-auto col"><button type="submit" class="btn btn-success display-4"><span class="mobi-mbri mobi-mbri-cursor-click mbr-iconfont mbr-iconfont-btn"></span>Inscreva-me</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% include footer.html %}
{% include script.html %}
</body>
</html>