---
layout: post
---
<!DOCTYPE html>
<html lang="pt-BR">
{% include head.html %}
<body>
{% include menu.html %}
<section data-bs-version="5.1" class="header9 cid-v9BQHkJX6C" id="header9-n">
    <div class="text-center container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-9">
                <div class="image-wrap mb-4">
                    <img src="{{ page.img }}" alt="{{ page.title }}">
                </div>
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-2"><strong>{{ page.title }}</strong></h1>
				{% if page.description %}
                <p class="mbr-text mbr-fonts-style display-7">{{ page.description }}</p>
				{% endif %}                
            </div>
        </div>
    </div>
</section>
<section data-bs-version="5.1" class="header12 cid-v9BIV9V0DM" id="header12-i">
    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-12 col-md-12 col-lg-9">
                <div class="card-wrapper">
                    <div class="card-box mbr-text mbr-fonts-style display-7">
						{{ content }}
                        <div class="mbr-section-btn mt-3"><a class="btn btn-success display-4" href="arquivos.html"><span class="mobi-mbri-cursor-click mbr-iconfont mbr-iconfont-btn"></span>Arquivos</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include share.html %} 
{% include form-footer.html %}
{% include footer.html %}
{% include script.html %} 
</body>
</html>